.login-link {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: var(--text-color);
    text-decoration: underline;
}

.login-link:hover {
    color: var(--link-hover-color);
}

:global(.dark) .login-link {
    color: var(--dark-text-color);
}

:global(.dark) .login-link:hover {
    color: var(--link-hover-color);
}
